force-app/main/default/flows/Account_UpdateOwnerOnWealthRMUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Advisory_Plan_to_UPdate</name>
        <label>Add Advisory Plan to UPdate</label>
        <locationX>440</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>AdvisoryPlanningToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Advisory_Planning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Advisory_Planning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Financial_Goal_to_Update</name>
        <label>Add Financial Goal to Update</label>
        <locationX>440</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>FinancialGoalsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Financial_Goals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Financial_Goals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Other_Bank_to_Update</name>
        <label>Add Other Bank to Update</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>OtherBanksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Other_Bank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Other_Bank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_Advisory_Planning</name>
        <label>Update Owner Advisory Planning</label>
        <locationX>440</locationX>
        <locationY>1920</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Advisory_Planning.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RTL_Wealth_RM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Advisory_Plan_to_UPdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_Financial_Goal</name>
        <label>Update Owner Financial Goal</label>
        <locationX>440</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Financial_Goals.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RTL_Wealth_RM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Financial_Goal_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner_Other_Bank</name>
        <label>Update Owner Other Bank</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_Other_Bank.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RTL_Wealth_RM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Other_Bank_to_Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account_UpdateOwnerOnWealthRMUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_UpdateOwnerOnWealthRMUpdate</label>
    <loops>
        <name>Loop_All_Advisory_Planning</name>
        <label>Loop All Advisory Planning</label>
        <locationX>352</locationX>
        <locationY>1800</locationY>
        <collectionReference>Get_All_Advisory_Planning</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Owner_Advisory_Planning</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_For_Advisory_Planning</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Financial_Goals</name>
        <label>Loop All Financial Goals</label>
        <locationX>352</locationX>
        <locationY>1104</locationY>
        <collectionReference>Get_All_Financial_Goals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Owner_Financial_Goal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_for_Financial_Goals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Other_Bank</name>
        <label>Loop All Other Bank</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_All_Other_Bank</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Owner_Other_Bank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner_for_Other_Bank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Advisory_Planning</name>
        <label>Get All Advisory Planning</label>
        <locationX>352</locationX>
        <locationY>1680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Advisory_Planning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Advisory_Planning__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Financial_Goals</name>
        <label>Get All Financial Goals</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Financial_Goals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Financial_Goal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Other_Bank</name>
        <label>Get All Other Bank</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Other_Bank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Other_Bank__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_For_Advisory_Planning</name>
        <label>Update Owner For Advisory Planning</label>
        <locationX>352</locationX>
        <locationY>2256</locationY>
        <inputReference>AdvisoryPlanningToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_for_Financial_Goals</name>
        <label>Update Owner for Financial Goals</label>
        <locationX>352</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Get_All_Advisory_Planning</targetReference>
        </connector>
        <inputReference>FinancialGoalsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_for_Other_Bank</name>
        <label>Update Owner for Other Bank</label>
        <locationX>352</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Get_All_Financial_Goals</targetReference>
        </connector>
        <inputReference>OtherBanksToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Wealth_RM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RTL_Wealth_RM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_Other_Bank</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvisoryPlanningToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advisory_Planning__c</objectType>
    </variables>
    <variables>
        <name>FinancialGoalsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Goal__c</objectType>
    </variables>
    <variables>
        <name>OtherBanksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Other_Bank__c</objectType>
    </variables>
</Flow>
