force-app/main/default/flows/Account_Manage_Other_Bank_from_ttb.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_AUM_greater_than_zero</name>
        <label>Check if AUM greater than zero</label>
        <locationX>489</locationX>
        <locationY>980</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AUM_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RMC_AUM__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_other_bank_for_ttb</targetReference>
            </connector>
            <label>AUM &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Old_Other_Bank_Available</name>
        <label>Check if Old Other Bank Available</label>
        <locationX>485</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Check_if_AUM_greater_than_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Bank_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Bank</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RTL_Wealth_RM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Bank</targetReference>
            </connector>
            <label>Other Bank available</label>
        </rules>
    </decisions>
    <description>auto create/update other bank</description>
    <environments>Default</environments>
    <interviewLabel>Account Manage Other Bank from ttb {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Manage Other Bank from ttb</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_other_bank_for_ttb</name>
        <label>Create other bank for ttb</label>
        <locationX>878</locationX>
        <locationY>977</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.RMC_AUM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_and_Liability__c</field>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>ttb</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Institute_Type__c</field>
            <value>
                <stringValue>Bank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Institution_Name__c</field>
            <value>
                <stringValue>ttb</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RTL_Wealth_RM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Other investment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wallet_Category__c</field>
            <value>
                <stringValue>Investment</stringValue>
            </value>
        </inputAssignments>
        <object>Other_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Other_Bank</name>
        <label>Get Other Bank</label>
        <locationX>495</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Old_Other_Bank_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ttb</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Other_Bank__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Other_Bank</name>
        <label>Update Other Bank</label>
        <locationX>860</locationX>
        <locationY>706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Other_Bank.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.RMC_AUM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Other investment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wallet_Category__c</field>
            <value>
                <stringValue>Investment</stringValue>
            </value>
        </inputAssignments>
        <object>Other_Bank__c</object>
    </recordUpdates>
    <start>
        <locationX>374</locationX>
        <locationY>34</locationY>
        <filterLogic>((1 OR (2 AND 3)) AND 4)</filterLogic>
        <filters>
            <field>RMC_AUM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RMC_AUM__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RTL_Wealth_RM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RTL_Wealth_RM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Other_Bank</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
