force-app/main/default/flows/RTL_Campaign_Active_Expire_Rerun.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>filter_CampaignScheduleRerun</name>
        <label>filter: CampaignScheduleRerun</label>
        <locationX>368</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rerun_Active_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rerun_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_RTL_Campaign_Type_for_Active</targetReference>
            </connector>
            <label>Rerun Active Campaign</label>
        </rules>
        <rules>
            <name>Rerun_Expire_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rerun_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expire Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_RTL_Campaign_Type_for_Expired</targetReference>
            </connector>
            <label>Rerun Expire Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>filter_RTL_Campaign_Type_for_Active</name>
        <label>filter: RTL Campaign Type for Active</label>
        <locationX>612</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Exclusive_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusive_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExclusiveCampaignActiveId</targetReference>
            </connector>
            <label>Active Exclusive Campaign</label>
        </rules>
        <rules>
            <name>Active_Mass_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mass_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMassCampaignActiveId</targetReference>
            </connector>
            <label>Active Mass Campaign</label>
        </rules>
        <rules>
            <name>Active_Master_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMasterCampaignActiveId</targetReference>
            </connector>
            <label>Active Master Campaign</label>
        </rules>
        <rules>
            <name>Active_Local_Exclusive_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local_Exclusive_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLocalExclusiveCampaignActiveId</targetReference>
            </connector>
            <label>Active Local Exclusive Campaign</label>
        </rules>
        <rules>
            <name>Active_Research_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Campaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetResearchCampaignActiveId</targetReference>
            </connector>
            <label>Active Research Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>filter_RTL_Campaign_Type_for_Expired</name>
        <label>filter: RTL Campaign Type for Expired</label>
        <locationX>370</locationX>
        <locationY>683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire_Exclusive_Campaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusive_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusive_Campaign_Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExclusiveCampaignExpiredId</targetReference>
            </connector>
            <label>Expire Exclusive Campaign</label>
        </rules>
        <rules>
            <name>Expire_Mass_Campaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mass_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mass_Campaign_Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMassCampaignExpiredId</targetReference>
            </connector>
            <label>Expire Mass Campaign</label>
        </rules>
        <rules>
            <name>Expire_Master_Campaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master_Campaign_Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMasterCampaignExpiredId</targetReference>
            </connector>
            <label>Expire Master Campaign</label>
        </rules>
        <rules>
            <name>Expire_Local_Exclusive_Campaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local_Exclusive_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local_Exclusive_Campaign_Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLocalExclusiveCampaignExpiredId</targetReference>
            </connector>
            <label>Expire Local Exclusive Campaign</label>
        </rules>
        <rules>
            <name>Expire_Research_Campaign</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research_Campaign_Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetResearchCampaignExpiredId</targetReference>
            </connector>
            <label>Expire Research Campaign</label>
        </rules>
    </decisions>
    <interviewLabel>RTL Campaign: Active / Expire Reren Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTL Campaign: Active / Expire Rerun</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetExclusiveCampaignActiveId</name>
        <label>GetExclusiveCampaignActiveId</label>
        <locationX>762</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_UpdateAfterApproved_Exclusive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclusive_Campaign_Active</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ExclusiveCampaignActiveId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetExclusiveCampaignExpiredId</name>
        <label>GetExclusiveCampaignExpiredId</label>
        <locationX>853</locationX>
        <locationY>811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_Expire_Exclusive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclusive_Campaign_Expired</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ExclusiveCampaignExpiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetLocalExclusiveCampaignActiveId</name>
        <label>GetLocalExclusiveCampaignActiveId</label>
        <locationX>921</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_UpdateAfterApproved_Local</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local_Exclusive_Campaign_Active</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LocalExclusiveCampaignActiveId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetLocalExclusiveCampaignExpiredId</name>
        <label>GetLocalExclusiveCampaignExpiredId</label>
        <locationX>254</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_Expire_Local</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local_Exclusive_Campaign_Expired</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LocalExclusiveCampaignExpiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMassCampaignActiveId</name>
        <label>GetMassCampaignActiveId</label>
        <locationX>933</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_UpdateAfterApproved_Mass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mass_Campaign_Active</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MassCampaignActiveId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMassCampaignExpiredId</name>
        <label>GetMassCampaignExpiredId</label>
        <locationX>743</locationX>
        <locationY>951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_Expire_Mass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mass_Campaign_Expired</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MassCampaignExpiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMasterCampaignActiveId</name>
        <label>GetMasterCampaignActiveId</label>
        <locationX>1057</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_UpdateAfterApproved_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master_Campaign_Active</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MasterCampaignActiveId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMasterCampaignExpiredId</name>
        <label>GetMasterCampaignExpiredId</label>
        <locationX>438</locationX>
        <locationY>1090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_Expire_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master_Campaign_Expired</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MasterCampaignExpiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetResearchCampaignActiveId</name>
        <label>GetResearchCampaignActiveId</label>
        <locationX>768</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_UpdateAfterApproved_Research</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Research_Campaign_Active</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ResearchCampaignActiveId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetResearchCampaignExpiredId</name>
        <label>GetResearchCampaignExpiredId</label>
        <locationX>50</locationX>
        <locationY>963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTL_Campaign_Expire_Research</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Research_Campaign_Expired</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ResearchCampaignExpiredId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RTL_Campaign_Expire_Exclusive</name>
        <label>RTL Campaign: Expire Exclusive</label>
        <locationX>1087</locationX>
        <locationY>811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Campaign_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ExclusiveCampaignExpiredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_Expire_Local</name>
        <label>RTL Campaign: Expire Local</label>
        <locationX>254</locationX>
        <locationY>1146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Campaign_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LocalExclusiveCampaignExpiredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_Expire_Mass</name>
        <label>RTL Campaign: Expire Mass</label>
        <locationX>939</locationX>
        <locationY>951</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Campaign_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MassCampaignExpiredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_Expire_Master</name>
        <label>RTL Campaign: Expire Master</label>
        <locationX>617</locationX>
        <locationY>1091</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Campaign_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MasterCampaignExpiredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_Expire_Research</name>
        <label>RTL Campaign: Expire Research</label>
        <locationX>50</locationX>
        <locationY>1144</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTL_Campaign_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ResearchCampaignExpiredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_UpdateAfterApproved_Exclusive</name>
        <label>RTL Campaign: UpdateAfterApproved - Exclusive</label>
        <locationX>1027</locationX>
        <locationY>83</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approvedflag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ExclusiveCampaignActiveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_UpdateAfterApproved_Local</name>
        <label>RTL Campaign: UpdateAfterApproved - Local</label>
        <locationX>1145</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approvedflag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LocalExclusiveCampaignActiveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_UpdateAfterApproved_Mass</name>
        <label>RTL Campaign: UpdateAfterApproved - Mass</label>
        <locationX>1141</locationX>
        <locationY>220</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approvedflag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MassCampaignActiveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_UpdateAfterApproved_Master</name>
        <label>RTL Campaign: UpdateAfterApproved - Master</label>
        <locationX>1244</locationX>
        <locationY>357</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approvedflag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MasterCampaignActiveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RTL_Campaign_UpdateAfterApproved_Research</name>
        <label>RTL Campaign: UpdateAfterApproved - Research</label>
        <locationX>1025</locationX>
        <locationY>637</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approvedflag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTL_Campaign_Stage__c</field>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ResearchCampaignActiveId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>251</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>filter_CampaignScheduleRerun</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rerun_Flow__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExclusiveCampaignActiveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExclusiveCampaignExpiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalExclusiveCampaignActiveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalExclusiveCampaignExpiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MassCampaignActiveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MassCampaignExpiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterCampaignActiveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterCampaignExpiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchCampaignActiveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchCampaignExpiredId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
