force-app/main/default/flows/RTL_Stamp_Child_Information_on_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>RTL_CampaignChildInfo</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Invoke UpdateMasterInfo</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>RTL_CampaignChildInfo</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>parent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>parent</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RTL_CampaignChildInfo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Change status and date</label>
        </rules>
    </decisions>
    <description>Stamp iscontainchild, childStartDate, childEndDate</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( OR( ISCHANGED([Campaign].Status ),  
                  ISCHANGED( [Campaign].StartDate ), 
                  ISCHANGED( [Campaign].EndDate ),
                  ISNEW()
                  ), 

             [Campaign].RecordType.Name != &quot;Commercial&quot; , 
             [Campaign].RecordType.Name != &quot;Dummy Campaign&quot;
          , NOT(Contains([Campaign].RecordType.Name, &quot;Master Campaign&quot;))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( OR( ISCHANGED({!myVariable_current.Status} ),  
                  ISCHANGED( {!myVariable_current.StartDate} ), 
                  ISCHANGED( {!myVariable_current.EndDate} ),
                  ISNEW()
                  ), 

             {!myVariable_current.RecordType.Name} != &quot;Commercial&quot; , 
             {!myVariable_current.RecordType.Name} != &quot;Dummy Campaign&quot;
          , NOT(Contains({!myVariable_current.RecordType.Name}, &quot;Master Campaign&quot;)))</expression>
    </formulas>
    <interviewLabel>RTL_Stamp_Child_Information_on_Parent-3_InterviewLabel</interviewLabel>
    <label>RTL Stamp Child Information on Parent</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Campaign</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
