force-app/main/default/flows/Send_Email_to_Owner_SLL_Group_Approval_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Approved_to_add_SLL_Group</name>
        <label>Notify Customer Owner : Final Approved to add SLL Group</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Approved_to_add_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Approved_to_add_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Approved_to_remove_SLL_Group_0</name>
        <label>Notify Customer Owner : Final Approved to remove SLL Group</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Approved_to_remove_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Approved_to_remove_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Recalled_to_add_SLL_Group</name>
        <label>Notify Customer Owner : Final Recalled to add SLL Group</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Recalled_to_add_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Recalled_to_add_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Recalled_to_remove_SLL_Group</name>
        <label>Notify Customer Owner : Final Recalled to remove SLL Group</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Recalled_to_remove_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Recalled_to_remove_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Rejected_to_add_SLL_Group</name>
        <label>Notify Customer Owner : Final Rejected to add SLL Group</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Rejected_to_add_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Rejected_to_add_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Final_Rejected_to_remove_SLL_Group</name>
        <label>Notify Customer Owner : Final Rejected to remove SLL Group</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Rejected_to_remove_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Final_Rejected_to_remove_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Request_Approval_to_add_SLL_Group</name>
        <label>Notify Customer Owner : Request Approval to add SLL Group</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Request_Approval_to_add_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Request_Approval_to_add_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_Owner_Request_Approval_to_remove_SLL_Group</name>
        <label>Notify Customer Owner : Request Approval to remove SLL Group</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <actionName>SLL_Group_Approval_History__c.Notify_Customer_Owner_Request_Approval_to_remove_SLL_Group</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SLL_Group_Approval_History__c.Notify_Customer_Owner_Request_Approval_to_remove_SLL_Group</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Customer_Owner_Isactive_0</name>
        <label>Customer Owner Isactive?</label>
        <locationX>2089</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_owner_active_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Request_to_add</targetReference>
            </connector>
            <label>Customer owner active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_to_add</name>
        <label>Is Request to add?</label>
        <locationX>1225</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Request_to_remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_Pending</targetReference>
            </connector>
            <label>Request to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_to_remove</name>
        <label>Is Request to remove?</label>
        <locationX>2153</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_to_remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request to remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_Pending_0</targetReference>
            </connector>
            <label>Request to remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Approved</name>
        <label>Status is Approved?</label>
        <locationX>545</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Status_is_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Approved_to_add_SLL_Group</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Approved_0</name>
        <label>Status is Approved?</label>
        <locationX>1865</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Status_is_Rejected_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Approved_to_remove_SLL_Group_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Pending</name>
        <label>Status is Pending?</label>
        <locationX>297</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Status_is_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Request_Approval_to_add_SLL_Group</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Pending_0</name>
        <label>Status is Pending?</label>
        <locationX>1617</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Status_is_Approved_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Request_Approval_to_remove_SLL_Group</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Recalled</name>
        <label>Status is Recalled?</label>
        <locationX>974</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Recalled_to_add_SLL_Group</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Recalled_0</name>
        <label>Status is Recalled?</label>
        <locationX>2294</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recalled_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Recalled_to_remove_SLL_Group</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Rejected</name>
        <label>Status is Rejected?</label>
        <locationX>776</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Status_is_Recalled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejeted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Rejected_to_add_SLL_Group</targetReference>
            </connector>
            <label>Rejeted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Rejected_0</name>
        <label>Status is Rejected?</label>
        <locationX>2096</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Status_is_Recalled_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejeted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status_Pending__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Customer_Owner_Final_Rejected_to_remove_SLL_Group</targetReference>
            </connector>
            <label>Rejeted</label>
        </rules>
    </decisions>
    <interviewLabel>Send Email to Owner - SLL Group Approval History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to Owner - SLL Group Approval History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1963</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Owner_Isactive_0</targetReference>
        </connector>
        <object>SLL_Group_Approval_History__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
